/* Reset Browser Defaults */
* {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: akkurat;
}

@font-face {
	font-family: akkurat;
    src: url(Akkurat.otf)
}

/* Layout Frames */

html, body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

.nav {
    position: relative;
    width: 100%;
    height: 32px;
    background: lightslategray;
    font-size: 18px;
}

.nav li {
	display: inline-block;
    padding: 5px;
}

.nav li:first-child {
	font-weight: Bold;
}

.nav a {
	text-decoration: none;
	color: black;
}

.nav a:hover {
	color: yellow;
}

#window {
    position: relative;
    height: calc(100% - 32px);
    background: lightslategray;
}